@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
    --primary-color: #86BA10;
    --gray: #9CA3AF;
    --off-default: #EDECA9;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    /* overwriting from user stylesheet */
}

hr {
    margin: 2rem 0rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
    /* padding-left: 1rem;padding-right: 1rem; 
    SAME */
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.links {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */

}

.primarylink {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondarylink {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */
.nobullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .links {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.avatar {
    padding: 1.5rem;
}

.avatar .avatar-img {
    max-width: 450px;
    display: block;
    margin: auto;
}

.avatar .avatar-heading {
    text-align: center;
    color: var(--gray);
    padding-top: 1rem;
    
}

.avatar .avatar-heading .heading-inverted {
    color: var(--primary-color);
}

/** sections **/

.section {
    padding: 2rem;
    border-radius: 2rem;
}

.section h1 {
    text-align: center;
}

.off-default {
    background-color: var(--off-default);
    padding-top: 2rem;
}

.blogs-h2-heading {
    text-align: center;
}

/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 2rem;
}

.footer .links {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}
.footer ul {
    padding-inline-start: 0px;
    /* overwriting the user agent stylesheet from inspecting the footer element */
}

.font-h2-projectsnblogs {
    font-family: 'Outfit', sans-serif;
}

.socialmediaicon-size {
    font-size: 2rem;
}